In [1]:
import pandas as pd
import json

train = pd.read_csv("dataset/Train_df.csv")

In [2]:
train.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath
1499,ID_lI0uWX.jpg,healthy,1.0,4.0,82.0,412.0,319.0,2,dataset/images/train/ID_lI0uWX.jpg
6620,ID_zlFpIy.jpg,cssvd,1.0,71.0,294.0,1486.0,1297.0,1,dataset/images/train/ID_zlFpIy.jpg
2494,ID_uhJaTZ.jpg,anthracnose,1.0,337.0,258.0,1973.0,1499.0,0,dataset/images/train/ID_uhJaTZ.jpg
4217,ID_PzqDPT.jpeg,healthy,1.0,2969.0,2565.0,4032.0,3024.0,2,dataset/images/train/ID_PzqDPT.jpeg
4313,ID_J4UmaR.JPG,healthy,1.0,299.0,21.0,1131.0,860.0,2,dataset/images/train/ID_J4UmaR.JPG

In [3]:
category_ids = train["class"].unique()
category_ids = {n: i for i, n in enumerate(sorted(category_ids))}

category_ids

{'anthracnose': 0, 'cssvd': 1, 'healthy': 2}

In [4]:
train.apply(
	lambda x: [x["xmin"], x["ymin"], x["xmax"] - x["xmin"], x["ymax"] - x["ymin"]], axis=1
)

0             [15.0, 75.0, 180.0, 87.0]
1              [1.0, 58.0, 170.0, 75.0]
2            [29.0, 42.0, 320.0, 335.0]
3          [124.0, 112.0, 217.0, 292.0]
4          [259.0, 148.0, 153.0, 265.0]
                     ...
9692    [1440.0, 136.0, 2560.0, 1457.0]
9693        [0.0, 89.0, 1139.0, 1085.0]
9694      [360.0, 18.0, 1970.0, 1782.0]
9695     [174.0, 736.0, 3858.0, 1955.0]
9696     [1248.0, 57.0, 1075.0, 2678.0]
Length: 9697, dtype: object

In [5]:
train["category_id"] = train["class"].map(category_ids)
train["id"] = train.index.values
train["bbox"] = train.apply(
	lambda x: json.dumps([x["xmin"], x["ymin"], x["xmax"] - x["xmin"], x["ymax"] - x["ymin"]]), axis=1
)
train["image_id"] = train["ImagePath"].values


train.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id
4420,ID_dLzKqM.jpeg,cssvd,1.0,1793.0,1502.0,2273.0,3019.0,1,dataset/images/train/ID_dLzKqM.jpeg,1,4420,"[1502.0, 1793.0, 1517.0, 480.0]",dataset/images/train/ID_dLzKqM.jpeg
1021,ID_nAmPVp.jpg,healthy,1.0,169.0,391.0,2262.0,953.0,2,dataset/images/train/ID_nAmPVp.jpg,2,1021,"[391.0, 169.0, 562.0, 2093.0]",dataset/images/train/ID_nAmPVp.jpg
2608,ID_QpEPhk.jpg,anthracnose,1.0,242.0,1444.0,725.0,1536.0,0,dataset/images/train/ID_QpEPhk.jpg,0,2608,"[1444.0, 242.0, 92.0, 483.0]",dataset/images/train/ID_QpEPhk.jpg
203,ID_LfZ3rS.jpg,healthy,1.0,337.0,238.0,416.0,407.0,2,dataset/images/train/ID_LfZ3rS.jpg,2,203,"[238.0, 337.0, 169.0, 79.0]",dataset/images/train/ID_LfZ3rS.jpg
9428,ID_FzmFHr.jpeg,anthracnose,1.0,5.0,315.0,451.0,548.0,0,dataset/images/train/ID_FzmFHr.jpeg,0,9428,"[315.0, 5.0, 233.0, 446.0]",dataset/images/train/ID_FzmFHr.jpeg

In [6]:
train.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id
5709,ID_n6lQES.jpg,cssvd,1.0,175.0,0.0,737.0,1036.0,1,dataset/images/train/ID_n6lQES.jpg,1,5709,"[0.0, 175.0, 1036.0, 562.0]",dataset/images/train/ID_n6lQES.jpg
2385,ID_hApy9s.jpg,anthracnose,1.0,5.0,4.0,1997.0,1346.0,0,dataset/images/train/ID_hApy9s.jpg,0,2385,"[4.0, 5.0, 1342.0, 1992.0]",dataset/images/train/ID_hApy9s.jpg
3405,ID_xMiRCl.JPG,healthy,1.0,884.0,1074.0,2295.0,2024.0,2,dataset/images/train/ID_xMiRCl.JPG,2,3405,"[1074.0, 884.0, 950.0, 1411.0]",dataset/images/train/ID_xMiRCl.JPG
9066,ID_kHbkW9.jpeg,healthy,1.0,48.0,0.0,4032.0,2987.0,2,dataset/images/train/ID_kHbkW9.jpeg,2,9066,"[0.0, 48.0, 2987.0, 3984.0]",dataset/images/train/ID_kHbkW9.jpeg
1885,ID_GqIN8o.jpg,anthracnose,1.0,0.0,0.0,811.0,456.0,0,dataset/images/train/ID_GqIN8o.jpg,0,1885,"[0.0, 0.0, 456.0, 811.0]",dataset/images/train/ID_GqIN8o.jpg

In [7]:
valid = pd.read_csv("dataset/Val_df.csv")

valid.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath
32,ID_u0KnR0.jpg,cssvd,1.0,1042.0,1060.0,2168.0,1802.0,1,dataset/images/train/ID_u0KnR0.jpg
85,ID_Olcex7.jpeg,healthy,1.0,0.0,2079.0,2708.0,3898.0,2,dataset/images/train/ID_Olcex7.jpeg
41,ID_JLxbsU.jpg,anthracnose,1.0,182.0,310.0,1280.0,874.0,0,dataset/images/train/ID_JLxbsU.jpg
74,ID_E2z7VZ.jpg,cssvd,1.0,21.0,18.0,1174.0,769.0,1,dataset/images/train/ID_E2z7VZ.jpg
59,ID_UIprDv.jpg,cssvd,1.0,390.0,380.0,1155.0,914.0,1,dataset/images/train/ID_UIprDv.jpg

In [8]:
valid["category_id"] = valid["class"].map(category_ids)
valid["id"] = valid.index.values
valid["bbox"] = valid.apply(
	lambda x: json.dumps([x["xmin"], x["ymin"], x["xmax"] - x["xmin"], x["ymax"] - x["ymin"]]), axis=1
)
valid["image_id"] = valid["ImagePath"].values


valid.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id
68,ID_dOxqJU.jpg,cssvd,1.0,35.0,15.0,1280.0,804.0,1,dataset/images/train/ID_dOxqJU.jpg,1,68,"[15.0, 35.0, 789.0, 1245.0]",dataset/images/train/ID_dOxqJU.jpg
87,ID_Dolzdw.jpeg,healthy,1.0,891.0,342.0,3681.0,2565.0,2,dataset/images/train/ID_Dolzdw.jpeg,2,87,"[342.0, 891.0, 2223.0, 2790.0]",dataset/images/train/ID_Dolzdw.jpeg
6,ID_gqbwtB.jpg,healthy,1.0,22.0,1.0,192.0,59.0,2,dataset/images/train/ID_gqbwtB.jpg,2,6,"[1.0, 22.0, 58.0, 170.0]",dataset/images/train/ID_gqbwtB.jpg
67,ID_T4Tw1d.jpg,cssvd,1.0,11.0,76.0,1280.0,817.0,1,dataset/images/train/ID_T4Tw1d.jpg,1,67,"[76.0, 11.0, 741.0, 1269.0]",dataset/images/train/ID_T4Tw1d.jpg
2,ID_yZDVIT.jpg,healthy,1.0,1.0,96.0,131.0,258.0,2,dataset/images/train/ID_yZDVIT.jpg,2,2,"[96.0, 1.0, 162.0, 130.0]",dataset/images/train/ID_yZDVIT.jpg

In [9]:
valid["image_id"] = valid["image_id"].str.replace("train", "val")

In [10]:
valid.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id
41,ID_JLxbsU.jpg,anthracnose,1.0,182.0,310.0,1280.0,874.0,0,dataset/images/train/ID_JLxbsU.jpg,0,41,"[310.0, 182.0, 564.0, 1098.0]",dataset/images/val/ID_JLxbsU.jpg
48,ID_dA1GQh.jpg,cssvd,1.0,8.0,0.0,1080.0,575.0,1,dataset/images/train/ID_dA1GQh.jpg,1,48,"[0.0, 8.0, 575.0, 1072.0]",dataset/images/val/ID_dA1GQh.jpg
6,ID_gqbwtB.jpg,healthy,1.0,22.0,1.0,192.0,59.0,2,dataset/images/train/ID_gqbwtB.jpg,2,6,"[1.0, 22.0, 58.0, 170.0]",dataset/images/val/ID_gqbwtB.jpg
32,ID_u0KnR0.jpg,cssvd,1.0,1042.0,1060.0,2168.0,1802.0,1,dataset/images/train/ID_u0KnR0.jpg,1,32,"[1060.0, 1042.0, 742.0, 1126.0]",dataset/images/val/ID_u0KnR0.jpg
17,ID_ka3SdB.jpg,healthy,1.0,2.0,1.0,398.0,348.0,2,dataset/images/train/ID_ka3SdB.jpg,2,17,"[1.0, 2.0, 347.0, 396.0]",dataset/images/val/ID_ka3SdB.jpg

In [11]:
val_images = valid["image_id"].unique()
len(val_images)

56

In [ ]:
from PIL import Image, ExifTags
import cv2

for flag, v in ExifTags.TAGS.items():
    if v == "Orientation":
        break


def load_image(filepath):
    image = Image.open(filepath)

    exif = image._getexif()
    if exif is None:
        return image

    orientation_value = exif.get(flag, None)

    if orientation_value == 3:
        image = image.rotate(180, expand=True)
    elif orientation_value == 6:
        image = image.rotate(270, expand=True)
    elif orientation_value == 8:
        image = image.rotate(90, expand=True)
    return image


def load_image_cv2(filepath):
    return cv2.cvtColor(
        cv2.imread(filepath, cv2.IMREAD_IGNORE_ORIENTATION | cv2.IMREAD_COLOR),
        cv2.COLOR_BGR2RGB,
    )


for i in val_images:
    w1, h1 = Image.open(i).size
    w2, h2 = load_image(i).size
    img = load_image_cv2(i).shape
    w3, h3 = img[1], img[0]

    if w1 != w2 or h1 != h2 or h1 != h3 or w1 != w3:
        print(f"Image: {i}")
        print(f"Image size: {w1}, {h1}")
        print(f"Image size: {w2}, {h2}")
        print(f"Image size: {w3}, {h3}")

        print("\n")

Image: dataset/images/val/ID_ET34jY.jpeg
Image size: 4000, 1800
Image size: 1800, 4000
Image size: 4000, 1800


Image: dataset/images/val/ID_J26p8u.jpg
Image size: 4128, 3096
Image size: 3096, 4128
Image size: 4128, 3096


Image: dataset/images/val/ID_u0KnR0.jpg
Image size: 4128, 3096
Image size: 3096, 4128
Image size: 4128, 3096


Image: dataset/images/val/ID_Hm1rUc.jpeg
Image size: 4032, 3024
Image size: 3024, 4032
Image size: 4032, 3024


Image: dataset/images/val/ID_bJrfR5.jpeg
Image size: 4032, 3024
Image size: 3024, 4032
Image size: 4032, 3024


Image: dataset/images/val/ID_kOXMTE.jpg
Image size: 2448, 3264
Image size: 3264, 2448
Image size: 2448, 3264


Image: dataset/images/val/ID_Dolzdw.jpeg
Image size: 4032, 3024
Image size: 3024, 4032
Image size: 4032, 3024


Image: dataset/images/val/ID_hRfHto.jpeg
Image size: 4032, 3024
Image size: 3024, 4032
Image size: 4032, 3024


Image: dataset/images/val/ID_Q9wpbL.jpeg
Image size: 4032, 3024
Image size: 3024, 4032
Image size: 4032, 3024


Image: dataset/images/val/ID_TOxurW.jpeg
Image size: 4032, 3024
Image size: 3024, 4032
Image size: 4032, 3024


Image: dataset/images/val/ID_as2hds.jpeg
Image size: 4032, 3024
Image size: 3024, 4032
Image size: 4032, 3024


Image: dataset/images/val/ID_jTWHzU.jpeg
Image size: 4032, 3024
Image size: 3024, 4032
Image size: 4032, 3024

In [13]:
cv2.IMREAD_IGNORE_ORIENTATION | cv2.IMREAD_COLOR

129

In [14]:
train[["class_id", "class"]].drop_duplicates()

      class_id        class
0            2      healthy
1881         0  anthracnose
4376         1        cssvd

In [15]:
valid[["class_id", "class"]].drop_duplicates()

    class_id        class
0          2      healthy
21         0  anthracnose
30         1        cssvd

In [16]:
val_shapes = []
for i in val_images:
    w1, h1 = Image.open(i).size
    w2, h2 = load_image(i).size
    img = load_image_cv2(i).shape
    w3, h3 = img[1], img[0]
    val_shapes.append([i, w1, h1, w2, h2, w3, h3])

val_shapes = pd.DataFrame(val_shapes, columns=["image_id", "w1", "h1", "w2", "h2", "w3", "h3"])

val_shapes.sample(5)

                             image_id    w1    h1    w2    h2    w3    h3
40   dataset/images/val/ID_xOnGt4.jpg   960  1280   960  1280   960  1280
8    dataset/images/val/ID_aTTp2e.jpg  2448  3264  2448  3264  2448  3264
53  dataset/images/val/ID_yMKmc2.jpeg  3024  3024  3024  3024  3024  3024
49  dataset/images/val/ID_hRfHto.jpeg  4032  3024  3024  4032  4032  3024
33   dataset/images/val/ID_UIprDv.jpg  1536  2048  1536  2048  1536  2048

In [17]:
from tqdm import tqdm
from concurrent.futures import ThreadPoolExecutor

train_shapes = []


def get_raw(i):
    w1, h1 = Image.open(i).size
    w2, h2 = load_image(i).size
    img = load_image_cv2(i).shape
    w3, h3 = img[1], img[0]
    return [i, w1, h1, w2, h2, w3, h3]


train_ids = train["ImagePath"].unique()
with ThreadPoolExecutor() as executor:
    train_shapes = list(tqdm(executor.map(get_raw, train_ids), total=len(train_ids)))

train_shapes = pd.DataFrame(
    train_shapes, columns=["image_id", "w1", "h1", "w2", "h2", "w3", "h3"]
)

train_shapes.sample(5)

100%|██████████| 5473/5473 [01:08<00:00, 80.23it/s]

                                 image_id    w1    h1    w2    h2    w3    h3
4650   dataset/images/train/ID_t7dT6u.jpg   960  1280   960  1280   960  1280
2242  dataset/images/train/ID_lzkF7O.jpeg  1280   576  1280   576  1280   576
5036  dataset/images/train/ID_zpqYbW.jpeg  4032  3024  3024  4032  4032  3024
3192   dataset/images/train/ID_MbBhdG.jpg  2448  3264  2448  3264  2448  3264
1642  dataset/images/train/ID_dNX0Kr.jpeg  4032  3024  3024  4032  4032  3024

In [18]:
valid_merge = valid.merge(val_shapes, on="image_id",)
train_merge = train.merge(train_shapes, on="image_id",)

In [19]:
valid_merge.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id,w1,h1,w2,h2,w3,h3
13,ID_sFXWTT.jpg,healthy,1.0,182.0,1.0,416.0,116.0,2,dataset/images/train/ID_sFXWTT.jpg,2,13,"[1.0, 182.0, 115.0, 234.0]",dataset/images/val/ID_sFXWTT.jpg,416,416,416,416,416,416
62,ID_YQlY8q.jpg,cssvd,1.0,20.0,637.0,664.0,1436.0,1,dataset/images/train/ID_YQlY8q.jpg,1,62,"[637.0, 20.0, 799.0, 644.0]",dataset/images/val/ID_YQlY8q.jpg,1536,2048,1536,2048,1536,2048
63,ID_YQlY8q.jpg,cssvd,1.0,300.0,1.0,1079.0,591.0,1,dataset/images/train/ID_YQlY8q.jpg,1,63,"[1.0, 300.0, 590.0, 779.0]",dataset/images/val/ID_YQlY8q.jpg,1536,2048,1536,2048,1536,2048
32,ID_u0KnR0.jpg,cssvd,1.0,1042.0,1060.0,2168.0,1802.0,1,dataset/images/train/ID_u0KnR0.jpg,1,32,"[1060.0, 1042.0, 742.0, 1126.0]",dataset/images/val/ID_u0KnR0.jpg,4128,3096,3096,4128,4128,3096
92,ID_yMKmc2.jpeg,anthracnose,1.0,57.0,607.0,3024.0,2688.0,0,dataset/images/train/ID_yMKmc2.jpeg,0,92,"[607.0, 57.0, 2081.0, 2967.0]",dataset/images/val/ID_yMKmc2.jpeg,3024,3024,3024,3024,3024,3024

In [20]:
columns = ["image_id", "bbox", "category_id", "id"]

train[columns].to_json(
	"dataset/train.json",
	# orient="records",
	# lines=True,
)
valid[columns].to_json(
	"dataset/valid.json",
	# orient="records",
	# lines=True,
)

In [21]:
train_merge.to_json(
	"dataset/full_train.json",
	# orient="records",
	# lines=True,
)
valid_merge.to_json(
	"dataset/full_valid.json",
	# orient="records",
	# lines=True,
)

In [22]:
valid_merge[valid_merge["xmin"] > valid_merge["xmax"]]

Empty DataFrame
Columns: [Image_ID, class, confidence, ymin, xmin, ymax, xmax, class_id, ImagePath, category_id, id, bbox, image_id, w1, h1, w2, h2, w3, h3]
Index: []

In [23]:
valid_merge[valid_merge["ymin"] > valid_merge["ymax"]]

Empty DataFrame
Columns: [Image_ID, class, confidence, ymin, xmin, ymax, xmax, class_id, ImagePath, category_id, id, bbox, image_id, w1, h1, w2, h2, w3, h3]
Index: []

In [24]:
valid_merge["xmin"] > valid_merge["w1"]

0     False
1     False
2     False
3     False
4     False
      ...
90    False
91    False
92    False
93    False
94    False
Length: 95, dtype: bool

In [25]:
display(valid_merge[valid_merge["xmin"] > valid_merge["w1"]])
display(valid_merge[valid_merge["ymin"] > valid_merge["h1"]])
display(valid_merge[valid_merge["xmax"] > valid_merge["w1"]])
display(valid_merge[valid_merge["ymax"] > valid_merge["h1"]])

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id,w1,h1,w2,h2,w3,h3
82,ID_kOXMTE.jpg,healthy,1.0,566.0,2514.0,1120.0,2885.0,2,dataset/images/train/ID_kOXMTE.jpg,2,82,"[2514.0, 566.0, 371.0, 554.0]",dataset/images/val/ID_kOXMTE.jpg,2448,3264,3264,2448,2448,3264

Empty DataFrame
Columns: [Image_ID, class, confidence, ymin, xmin, ymax, xmax, class_id, ImagePath, category_id, id, bbox, image_id, w1, h1, w2, h2, w3, h3]
Index: []

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id,w1,h1,w2,h2,w3,h3
80,ID_kOXMTE.jpg,healthy,1.0,684.0,1045.0,2216.0,2623.0,2,dataset/images/train/ID_kOXMTE.jpg,2,80,"[1045.0, 684.0, 1578.0, 1532.0]",dataset/images/val/ID_kOXMTE.jpg,2448,3264,3264,2448,2448,3264
81,ID_kOXMTE.jpg,healthy,1.0,15.0,0.0,912.0,2535.0,2,dataset/images/train/ID_kOXMTE.jpg,2,81,"[0.0, 15.0, 2535.0, 897.0]",dataset/images/val/ID_kOXMTE.jpg,2448,3264,3264,2448,2448,3264
82,ID_kOXMTE.jpg,healthy,1.0,566.0,2514.0,1120.0,2885.0,2,dataset/images/train/ID_kOXMTE.jpg,2,82,"[2514.0, 566.0, 371.0, 554.0]",dataset/images/val/ID_kOXMTE.jpg,2448,3264,3264,2448,2448,3264
83,ID_kOXMTE.jpg,healthy,1.0,114.0,2415.0,548.0,3225.0,2,dataset/images/train/ID_kOXMTE.jpg,2,83,"[2415.0, 114.0, 810.0, 434.0]",dataset/images/val/ID_kOXMTE.jpg,2448,3264,3264,2448,2448,3264

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id,w1,h1,w2,h2,w3,h3
21,ID_ET34jY.jpeg,anthracnose,1.0,888.0,477.0,4000.0,1800.0,0,dataset/images/train/ID_ET34jY.jpeg,0,21,"[477.0, 888.0, 1323.0, 3112.0]",dataset/images/val/ID_ET34jY.jpeg,4000,1800,1800,4000,4000,1800
22,ID_ET34jY.jpeg,anthracnose,1.0,722.0,0.0,3602.0,917.0,0,dataset/images/train/ID_ET34jY.jpeg,0,22,"[0.0, 722.0, 917.0, 2880.0]",dataset/images/val/ID_ET34jY.jpeg,4000,1800,1800,4000,4000,1800
27,ID_J26p8u.jpg,anthracnose,1.0,69.0,381.0,4128.0,2518.0,0,dataset/images/train/ID_J26p8u.jpg,0,27,"[381.0, 69.0, 2137.0, 4059.0]",dataset/images/val/ID_J26p8u.jpg,4128,3096,3096,4128,4128,3096
51,ID_Hm1rUc.jpeg,cssvd,1.0,1992.0,401.0,4032.0,2403.0,1,dataset/images/train/ID_Hm1rUc.jpeg,1,51,"[401.0, 1992.0, 2002.0, 2040.0]",dataset/images/val/ID_Hm1rUc.jpeg,4032,3024,3024,4032,4032,3024
53,ID_bJrfR5.jpeg,cssvd,1.0,48.0,344.0,4032.0,2901.0,1,dataset/images/train/ID_bJrfR5.jpeg,1,53,"[344.0, 48.0, 2557.0, 3984.0]",dataset/images/val/ID_bJrfR5.jpeg,4032,3024,3024,4032,4032,3024
87,ID_Dolzdw.jpeg,healthy,1.0,891.0,342.0,3681.0,2565.0,2,dataset/images/train/ID_Dolzdw.jpeg,2,87,"[342.0, 891.0, 2223.0, 2790.0]",dataset/images/val/ID_Dolzdw.jpeg,4032,3024,3024,4032,4032,3024
88,ID_hRfHto.jpeg,healthy,1.0,0.0,0.0,3888.0,2384.0,2,dataset/images/train/ID_hRfHto.jpeg,2,88,"[0.0, 0.0, 2384.0, 3888.0]",dataset/images/val/ID_hRfHto.jpeg,4032,3024,3024,4032,4032,3024
89,ID_Q9wpbL.jpeg,healthy,1.0,594.0,0.0,3572.0,2949.0,2,dataset/images/train/ID_Q9wpbL.jpeg,2,89,"[0.0, 594.0, 2949.0, 2978.0]",dataset/images/val/ID_Q9wpbL.jpeg,4032,3024,3024,4032,4032,3024
90,ID_TOxurW.jpeg,anthracnose,1.0,260.0,271.0,3722.0,2560.0,0,dataset/images/train/ID_TOxurW.jpeg,0,90,"[271.0, 260.0, 2289.0, 3462.0]",dataset/images/val/ID_TOxurW.jpeg,4032,3024,3024,4032,4032,3024
91,ID_as2hds.jpeg,anthracnose,1.0,50.0,774.0,3915.0,2250.0,0,dataset/images/train/ID_as2hds.jpeg,0,91,"[774.0, 50.0, 1476.0, 3865.0]",dataset/images/val/ID_as2hds.jpeg,4032,3024,3024,4032,4032,3024
94,ID_jTWHzU.jpeg,anthracnose,1.0,25.0,0.0,4032.0,2484.0,0,dataset/images/train/ID_jTWHzU.jpeg,0,94,"[0.0, 25.0, 2484.0, 4007.0]",dataset/images/val/ID_jTWHzU.jpeg,4032,3024,3024,4032,4032,3024

In [26]:
display(valid_merge[valid_merge["xmin"] > valid_merge["w2"]])
display(valid_merge[valid_merge["ymin"] > valid_merge["h2"]])
display(valid_merge[valid_merge["xmax"] > valid_merge["w2"]])
display(valid_merge[valid_merge["ymax"] > valid_merge["h2"]])

Empty DataFrame
Columns: [Image_ID, class, confidence, ymin, xmin, ymax, xmax, class_id, ImagePath, category_id, id, bbox, image_id, w1, h1, w2, h2, w3, h3]
Index: []

Empty DataFrame
Columns: [Image_ID, class, confidence, ymin, xmin, ymax, xmax, class_id, ImagePath, category_id, id, bbox, image_id, w1, h1, w2, h2, w3, h3]
Index: []

Empty DataFrame
Columns: [Image_ID, class, confidence, ymin, xmin, ymax, xmax, class_id, ImagePath, category_id, id, bbox, image_id, w1, h1, w2, h2, w3, h3]
Index: []

Empty DataFrame
Columns: [Image_ID, class, confidence, ymin, xmin, ymax, xmax, class_id, ImagePath, category_id, id, bbox, image_id, w1, h1, w2, h2, w3, h3]
Index: []

In [27]:
display(valid_merge[valid_merge["xmin"] > valid_merge["w3"]])
display(valid_merge[valid_merge["ymin"] > valid_merge["h3"]])
display(valid_merge[valid_merge["xmax"] > valid_merge["w3"]])
display(valid_merge[valid_merge["ymax"] > valid_merge["h3"]])

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id,w1,h1,w2,h2,w3,h3
82,ID_kOXMTE.jpg,healthy,1.0,566.0,2514.0,1120.0,2885.0,2,dataset/images/train/ID_kOXMTE.jpg,2,82,"[2514.0, 566.0, 371.0, 554.0]",dataset/images/val/ID_kOXMTE.jpg,2448,3264,3264,2448,2448,3264

Empty DataFrame
Columns: [Image_ID, class, confidence, ymin, xmin, ymax, xmax, class_id, ImagePath, category_id, id, bbox, image_id, w1, h1, w2, h2, w3, h3]
Index: []

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id,w1,h1,w2,h2,w3,h3
80,ID_kOXMTE.jpg,healthy,1.0,684.0,1045.0,2216.0,2623.0,2,dataset/images/train/ID_kOXMTE.jpg,2,80,"[1045.0, 684.0, 1578.0, 1532.0]",dataset/images/val/ID_kOXMTE.jpg,2448,3264,3264,2448,2448,3264
81,ID_kOXMTE.jpg,healthy,1.0,15.0,0.0,912.0,2535.0,2,dataset/images/train/ID_kOXMTE.jpg,2,81,"[0.0, 15.0, 2535.0, 897.0]",dataset/images/val/ID_kOXMTE.jpg,2448,3264,3264,2448,2448,3264
82,ID_kOXMTE.jpg,healthy,1.0,566.0,2514.0,1120.0,2885.0,2,dataset/images/train/ID_kOXMTE.jpg,2,82,"[2514.0, 566.0, 371.0, 554.0]",dataset/images/val/ID_kOXMTE.jpg,2448,3264,3264,2448,2448,3264
83,ID_kOXMTE.jpg,healthy,1.0,114.0,2415.0,548.0,3225.0,2,dataset/images/train/ID_kOXMTE.jpg,2,83,"[2415.0, 114.0, 810.0, 434.0]",dataset/images/val/ID_kOXMTE.jpg,2448,3264,3264,2448,2448,3264

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id,w1,h1,w2,h2,w3,h3
21,ID_ET34jY.jpeg,anthracnose,1.0,888.0,477.0,4000.0,1800.0,0,dataset/images/train/ID_ET34jY.jpeg,0,21,"[477.0, 888.0, 1323.0, 3112.0]",dataset/images/val/ID_ET34jY.jpeg,4000,1800,1800,4000,4000,1800
22,ID_ET34jY.jpeg,anthracnose,1.0,722.0,0.0,3602.0,917.0,0,dataset/images/train/ID_ET34jY.jpeg,0,22,"[0.0, 722.0, 917.0, 2880.0]",dataset/images/val/ID_ET34jY.jpeg,4000,1800,1800,4000,4000,1800
27,ID_J26p8u.jpg,anthracnose,1.0,69.0,381.0,4128.0,2518.0,0,dataset/images/train/ID_J26p8u.jpg,0,27,"[381.0, 69.0, 2137.0, 4059.0]",dataset/images/val/ID_J26p8u.jpg,4128,3096,3096,4128,4128,3096
51,ID_Hm1rUc.jpeg,cssvd,1.0,1992.0,401.0,4032.0,2403.0,1,dataset/images/train/ID_Hm1rUc.jpeg,1,51,"[401.0, 1992.0, 2002.0, 2040.0]",dataset/images/val/ID_Hm1rUc.jpeg,4032,3024,3024,4032,4032,3024
53,ID_bJrfR5.jpeg,cssvd,1.0,48.0,344.0,4032.0,2901.0,1,dataset/images/train/ID_bJrfR5.jpeg,1,53,"[344.0, 48.0, 2557.0, 3984.0]",dataset/images/val/ID_bJrfR5.jpeg,4032,3024,3024,4032,4032,3024
87,ID_Dolzdw.jpeg,healthy,1.0,891.0,342.0,3681.0,2565.0,2,dataset/images/train/ID_Dolzdw.jpeg,2,87,"[342.0, 891.0, 2223.0, 2790.0]",dataset/images/val/ID_Dolzdw.jpeg,4032,3024,3024,4032,4032,3024
88,ID_hRfHto.jpeg,healthy,1.0,0.0,0.0,3888.0,2384.0,2,dataset/images/train/ID_hRfHto.jpeg,2,88,"[0.0, 0.0, 2384.0, 3888.0]",dataset/images/val/ID_hRfHto.jpeg,4032,3024,3024,4032,4032,3024
89,ID_Q9wpbL.jpeg,healthy,1.0,594.0,0.0,3572.0,2949.0,2,dataset/images/train/ID_Q9wpbL.jpeg,2,89,"[0.0, 594.0, 2949.0, 2978.0]",dataset/images/val/ID_Q9wpbL.jpeg,4032,3024,3024,4032,4032,3024
90,ID_TOxurW.jpeg,anthracnose,1.0,260.0,271.0,3722.0,2560.0,0,dataset/images/train/ID_TOxurW.jpeg,0,90,"[271.0, 260.0, 2289.0, 3462.0]",dataset/images/val/ID_TOxurW.jpeg,4032,3024,3024,4032,4032,3024
91,ID_as2hds.jpeg,anthracnose,1.0,50.0,774.0,3915.0,2250.0,0,dataset/images/train/ID_as2hds.jpeg,0,91,"[774.0, 50.0, 1476.0, 3865.0]",dataset/images/val/ID_as2hds.jpeg,4032,3024,3024,4032,4032,3024
94,ID_jTWHzU.jpeg,anthracnose,1.0,25.0,0.0,4032.0,2484.0,0,dataset/images/train/ID_jTWHzU.jpeg,0,94,"[0.0, 25.0, 2484.0, 4007.0]",dataset/images/val/ID_jTWHzU.jpeg,4032,3024,3024,4032,4032,3024

In [28]:
display(train_merge[train_merge["xmin"] > train_merge["w2"]])
display(train_merge[train_merge["ymin"] > train_merge["h2"]])
display(train_merge[train_merge["xmax"] > train_merge["w2"]])
display(train_merge[train_merge["ymax"] > train_merge["h2"]])

Empty DataFrame
Columns: [Image_ID, class, confidence, ymin, xmin, ymax, xmax, class_id, ImagePath, category_id, id, bbox, image_id, w1, h1, w2, h2, w3, h3]
Index: []

Empty DataFrame
Columns: [Image_ID, class, confidence, ymin, xmin, ymax, xmax, class_id, ImagePath, category_id, id, bbox, image_id, w1, h1, w2, h2, w3, h3]
Index: []

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id,w1,h1,w2,h2,w3,h3
431,ID_RUEBT5.jpg,healthy,1.0,27.0,303.0,139.0,417.0,2,dataset/images/train/ID_RUEBT5.jpg,2,431,"[303.0, 27.0, 114.0, 112.0]",dataset/images/train/ID_RUEBT5.jpg,416,416,416,416,416,416
641,ID_SPyd52.jpg,healthy,1.0,1.0,165.0,172.0,417.0,2,dataset/images/train/ID_SPyd52.jpg,2,641,"[165.0, 1.0, 252.0, 171.0]",dataset/images/train/ID_SPyd52.jpg,416,416,416,416,416,416
671,ID_JWGCGl.jpg,healthy,1.0,42.0,261.0,103.0,417.0,2,dataset/images/train/ID_JWGCGl.jpg,2,671,"[261.0, 42.0, 156.0, 61.0]",dataset/images/train/ID_JWGCGl.jpg,416,416,416,416,416,416
774,ID_ofOgxi.jpg,healthy,1.0,137.0,244.0,360.0,417.0,2,dataset/images/train/ID_ofOgxi.jpg,2,774,"[244.0, 137.0, 173.0, 223.0]",dataset/images/train/ID_ofOgxi.jpg,416,416,416,416,416,416
925,ID_c2XesD.jpg,healthy,1.0,269.0,82.0,416.0,417.0,2,dataset/images/train/ID_c2XesD.jpg,2,925,"[82.0, 269.0, 335.0, 147.0]",dataset/images/train/ID_c2XesD.jpg,416,416,416,416,416,416
1198,ID_XbC4LO.jpg,healthy,1.0,5.0,112.0,416.0,417.0,2,dataset/images/train/ID_XbC4LO.jpg,2,1198,"[112.0, 5.0, 305.0, 411.0]",dataset/images/train/ID_XbC4LO.jpg,416,416,416,416,416,416
1204,ID_mKxmKN.jpg,healthy,1.0,3.0,27.0,416.0,417.0,2,dataset/images/train/ID_mKxmKN.jpg,2,1204,"[27.0, 3.0, 390.0, 413.0]",dataset/images/train/ID_mKxmKN.jpg,416,416,416,416,416,416
1387,ID_sAk119.jpg,healthy,1.0,63.0,175.0,163.0,417.0,2,dataset/images/train/ID_sAk119.jpg,2,1387,"[175.0, 63.0, 242.0, 100.0]",dataset/images/train/ID_sAk119.jpg,416,416,416,416,416,416
1852,ID_SxyKDH.jpg,healthy,1.0,1.0,1.0,416.0,417.0,2,dataset/images/train/ID_SxyKDH.jpg,2,1852,"[1.0, 1.0, 416.0, 415.0]",dataset/images/train/ID_SxyKDH.jpg,416,416,416,416,416,416
2607,ID_QpEPhk.jpg,anthracnose,1.0,496.0,1039.0,1087.0,1537.0,0,dataset/images/train/ID_QpEPhk.jpg,0,2607,"[1039.0, 496.0, 498.0, 591.0]",dataset/images/train/ID_QpEPhk.jpg,1536,2048,1536,2048,1536,2048
2618,ID_lcd6Ng.jpg,anthracnose,1.0,1.0,1.0,2048.0,1537.0,0,dataset/images/train/ID_lcd6Ng.jpg,0,2618,"[1.0, 1.0, 1536.0, 2047.0]",dataset/images/train/ID_lcd6Ng.jpg,1536,2048,1536,2048,1536,2048
2619,ID_C9SxS3.jpg,anthracnose,1.0,3.0,178.0,2048.0,1537.0,0,dataset/images/train/ID_C9SxS3.jpg,0,2619,"[178.0, 3.0, 1359.0, 2045.0]",dataset/images/train/ID_C9SxS3.jpg,1536,2048,1536,2048,1536,2048
2621,ID_hkXJWR.jpg,anthracnose,1.0,15.0,498.0,2048.0,1537.0,0,dataset/images/train/ID_hkXJWR.jpg,0,2621,"[498.0, 15.0, 1039.0, 2033.0]",dataset/images/train/ID_hkXJWR.jpg,1536,2048,1536,2048,1536,2048
2661,ID_RBjLcg.jpg,anthracnose,1.0,6.0,1.0,2048.0,1537.0,0,dataset/images/train/ID_RBjLcg.jpg,0,2661,"[1.0, 6.0, 1536.0, 2042.0]",dataset/images/train/ID_RBjLcg.jpg,1536,2048,1536,2048,1536,2048
2752,ID_BBvYZW.jpg,anthracnose,1.0,1.0,1.0,2048.0,1537.0,0,dataset/images/train/ID_BBvYZW.jpg,0,2752,"[1.0, 1.0, 1536.0, 2047.0]",dataset/images/train/ID_BBvYZW.jpg,1536,2048,1536,2048,1536,2048
2837,ID_xK7CYQ.jpg,anthracnose,1.0,2.0,5.0,2048.0,1537.0,0,dataset/images/train/ID_xK7CYQ.jpg,0,2837,"[5.0, 2.0, 1532.0, 2046.0]",dataset/images/train/ID_xK7CYQ.jpg,1536,2048,1536,2048,1536,2048
2852,ID_syvdOd.jpg,anthracnose,1.0,1.0,1.0,2048.0,1537.0,0,dataset/images/train/ID_syvdOd.jpg,0,2852,"[1.0, 1.0, 1536.0, 2047.0]",dataset/images/train/ID_syvdOd.jpg,1536,2048,1536,2048,1536,2048
2854,ID_w0nbv5.jpg,anthracnose,1.0,8.0,19.0,2048.0,1537.0,0,dataset/images/train/ID_w0nbv5.jpg,0,2854,"[19.0, 8.0, 1518.0, 2040.0]",dataset/images/train/ID_w0nbv5.jpg,1536,2048,1536,2048,1536,2048
2968,ID_pluc1B.jpg,anthracnose,1.0,7.0,1.0,2048.0,1537.0,0,dataset/images/train/ID_pluc1B.jpg,0,2968,"[1.0, 7.0, 1536.0, 2041.0]",dataset/images/train/ID_pluc1B.jpg,1536,2048,1536,2048,1536,2048
3166,ID_WZXm3d.jpg,anthracnose,1.0,28.0,418.0,2048.0,1537.0,0,dataset/images/train/ID_WZXm3d.jpg,0,3166,"[418.0, 28.0, 1119.0, 2020.0]",dataset/images/train/ID_WZXm3d.jpg,1536,2048,1536,2048,1536,2048
3333,ID_LnI92V.jpg,anthracnose,1.0,272.0,440.0,2048.0,1537.0,0,dataset/images/train/ID_LnI92V.jpg,0,3333,"[440.0, 272.0, 1097.0, 1776.0]",dataset/images/train/ID_LnI92V.jpg,1536,2048,1536,2048,1536,2048

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id,w1,h1,w2,h2,w3,h3
303,ID_CmbGmt.jpg,healthy,1.0,24.0,2.0,417.0,416.0,2,dataset/images/train/ID_CmbGmt.jpg,2,303,"[2.0, 24.0, 414.0, 393.0]",dataset/images/train/ID_CmbGmt.jpg,416,416,416,416,416,416
1385,ID_sAk119.jpg,healthy,1.0,221.0,25.0,417.0,154.0,2,dataset/images/train/ID_sAk119.jpg,2,1385,"[25.0, 221.0, 129.0, 196.0]",dataset/images/train/ID_sAk119.jpg,416,416,416,416,416,416
1505,ID_LTHG5W.jpg,healthy,1.0,1.0,1.0,417.0,416.0,2,dataset/images/train/ID_LTHG5W.jpg,2,1505,"[1.0, 1.0, 415.0, 416.0]",dataset/images/train/ID_LTHG5W.jpg,416,416,416,416,416,416
1768,ID_FIJmp6.jpg,healthy,1.0,331.0,1.0,417.0,297.0,2,dataset/images/train/ID_FIJmp6.jpg,2,1768,"[1.0, 331.0, 296.0, 86.0]",dataset/images/train/ID_FIJmp6.jpg,416,416,416,416,416,416
1813,ID_y4Dveu.jpg,healthy,1.0,49.0,1.0,417.0,416.0,2,dataset/images/train/ID_y4Dveu.jpg,2,1813,"[1.0, 49.0, 415.0, 368.0]",dataset/images/train/ID_y4Dveu.jpg,416,416,416,416,416,416
2450,ID_tx3027.jpg,anthracnose,1.0,1.0,1.0,2049.0,1536.0,0,dataset/images/train/ID_tx3027.jpg,0,2450,"[1.0, 1.0, 1535.0, 2048.0]",dataset/images/train/ID_tx3027.jpg,1536,2048,1536,2048,1536,2048
2452,ID_JuC6hQ.jpg,anthracnose,1.0,1.0,1.0,2049.0,1536.0,0,dataset/images/train/ID_JuC6hQ.jpg,0,2452,"[1.0, 1.0, 1535.0, 2048.0]",dataset/images/train/ID_JuC6hQ.jpg,1536,2048,1536,2048,1536,2048
2475,ID_lPgVUk.jpg,anthracnose,1.0,1.0,1.0,2049.0,1536.0,0,dataset/images/train/ID_lPgVUk.jpg,0,2475,"[1.0, 1.0, 1535.0, 2048.0]",dataset/images/train/ID_lPgVUk.jpg,1536,2048,1536,2048,1536,2048
2625,ID_InwZDp.jpg,anthracnose,1.0,218.0,14.0,2049.0,1536.0,0,dataset/images/train/ID_InwZDp.jpg,0,2625,"[14.0, 218.0, 1522.0, 1831.0]",dataset/images/train/ID_InwZDp.jpg,1536,2048,1536,2048,1536,2048
2675,ID_k2TYY4.jpg,anthracnose,1.0,1.0,1.0,1537.0,2048.0,0,dataset/images/train/ID_k2TYY4.jpg,0,2675,"[1.0, 1.0, 2047.0, 1536.0]",dataset/images/train/ID_k2TYY4.jpg,2048,1536,2048,1536,2048,1536
2714,ID_A9j4mt.jpg,anthracnose,1.0,164.0,155.0,2049.0,1536.0,0,dataset/images/train/ID_A9j4mt.jpg,0,2714,"[155.0, 164.0, 1381.0, 1885.0]",dataset/images/train/ID_A9j4mt.jpg,1536,2048,1536,2048,1536,2048
2716,ID_A9j4mt.jpg,anthracnose,1.0,901.0,739.0,2049.0,1536.0,0,dataset/images/train/ID_A9j4mt.jpg,0,2716,"[739.0, 901.0, 797.0, 1148.0]",dataset/images/train/ID_A9j4mt.jpg,1536,2048,1536,2048,1536,2048
2901,ID_dvP9fZ.jpg,anthracnose,1.0,395.0,186.0,2049.0,1536.0,0,dataset/images/train/ID_dvP9fZ.jpg,0,2901,"[186.0, 395.0, 1350.0, 1654.0]",dataset/images/train/ID_dvP9fZ.jpg,1536,2048,1536,2048,1536,2048
2923,ID_kcbyzy.jpg,anthracnose,1.0,1.0,1.0,2049.0,1536.0,0,dataset/images/train/ID_kcbyzy.jpg,0,2923,"[1.0, 1.0, 1535.0, 2048.0]",dataset/images/train/ID_kcbyzy.jpg,1536,2048,1536,2048,1536,2048
6459,ID_xn6J3u.jpg,cssvd,1.0,237.0,8.0,2049.0,1536.0,1,dataset/images/train/ID_xn6J3u.jpg,1,6459,"[8.0, 237.0, 1528.0, 1812.0]",dataset/images/train/ID_xn6J3u.jpg,1536,2048,1536,2048,1536,2048
6721,ID_eJPCkd.jpg,cssvd,1.0,879.0,342.0,2049.0,922.0,1,dataset/images/train/ID_eJPCkd.jpg,1,6721,"[342.0, 879.0, 580.0, 1170.0]",dataset/images/train/ID_eJPCkd.jpg,1536,2048,1536,2048,1536,2048

In [34]:
# train_merge["xmax"] = train_merge[["xmax", "w2"]].min(axis=1)
# train_merge["ymax"] = train_merge[["ymax", "h2"]].min(axis=1)

train_merge.loc[train_merge["xmax"] >= train_merge["w2"], "xmax"] = train_merge["w2"] - 1
train_merge.loc[train_merge["ymax"] >= train_merge["h2"], "ymax"] = train_merge["h2"] - 1

In [35]:
# valid_merge["xmax"] = valid_merge[["xmax", "w2"]].min(axis=1)
# valid_merge["ymax"] = valid_merge[["ymax", "h2"]].min(axis=1)

valid_merge.loc[valid_merge["xmax"] >= valid_merge["w2"], "xmax"] = valid_merge["w2"] - 1
valid_merge.loc[valid_merge["ymax"] >= valid_merge["h2"], "ymax"] = valid_merge["h2"] - 1

In [32]:
cp = train_merge.copy()
cp.loc[cp["xmax"] >= cp["w2"], "xmax"] = cp["w2"] - 2

cp.isna().sum()

Image_ID       0
class          0
confidence     0
ymin           0
xmin           0
ymax           0
xmax           0
class_id       0
ImagePath      0
category_id    0
id             0
bbox           0
image_id       0
w1             0
h1             0
w2             0
h2             0
w3             0
h3             0
dtype: int64

In [33]:
cp[cp["xmax"] >= cp["w2"]]

Empty DataFrame
Columns: [Image_ID, class, confidence, ymin, xmin, ymax, xmax, class_id, ImagePath, category_id, id, bbox, image_id, w1, h1, w2, h2, w3, h3]
Index: []

In [37]:
valid_merge["bbox"] = valid_merge.apply(
	lambda x: json.dumps([x["xmin"], x["ymin"], x["xmax"] - x["xmin"], x["ymax"] - x["ymin"]]), axis=1
)
train_merge["bbox"] = train_merge.apply(
	lambda x: json.dumps([x["xmin"], x["ymin"], x["xmax"] - x["xmin"], x["ymax"] - x["ymin"]]), axis=1
)

In [38]:
train_merge.to_json(
	"dataset/full_train.json",
	# orient="records",
	# lines=True,
)
valid_merge.to_json(
	"dataset/full_valid.json",
	# orient="records",
	# lines=True,
)